@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.form-wrapper {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 600px;
  margin: 5rem auto;
  font-family: 'Montserrat', sans-serif;
}

.form-header {
  text-align: center;
}

.form-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-header p {
  color: #777;
  font-size: 1rem;
  font-weight: 400;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.message {
  background: #171717;
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.message button {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.message button:hover {
  background: #e0e0e0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
